/*
	AUTHOR: 	Henrik Oddløkken

							T A B L E   OF   C O N T E N T S 
			
			
		
*/

/*---------------------------------------------------------------------------*/	
*{									/* Default */
	padding:			0px;
	margin:				0px;
	list-style:			none;
	text-decoration:	none;
	font-family: 'Roboto', sans-serif;
}

/*---------------------------------------------------------------------------*/

body{
	background-color: #777;
	overflow: hidden;
}


.liColumn
{
	display: inline-block;
	vertical-align: middle;
}

button 		/* StartButton */
{
	background: #eee;
	color: #111;
	border: none;
	border-top: 4px solid #333;
	padding: 10px 0px;
	font-size: 125%;
	font-weight: bold;
	letter-spacing: 2px;
}

	button:hover
	{
		cursor: pointer;
		background: #ffd63e;
	}

/*---------------------------------------------------------------------------*/	

#overlay
{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #4a4a4a;
	z-index: 1;
}

#startScreen
{
	display: block;
	position: absolute;
	top: 0%;
	left: 0%;
	background: #333;
	width: 30%;
	height: 70%;
	z-index: 2;
	color: #fff;
	border-radius: 5px;
	padding: 10px 50px 0 50px;
}

	#startScreen h2
	{
		text-align: center;
		letter-spacing: 1px;
		padding: 20px;
		font-weight: 300;
		font-variant: small-caps;
		letter-spacing: 2px;
		
	}

	#startScreen p
	{
		font-weight: 300;
		line-height: 140%;
		border-bottom: 1px solid #555;
		padding-bottom: 20px;
	}

	#startTest
	{
		position: absolute;
		bottom:	0px;
		left: 0px;
		border-radius: 0 0 5px 5px;
		width: 100%;
	}

	label
	{
		display: block;
		margin: 30px auto 10px auto;
		text-align: left;
	}

	select, input
	{
		width: 168px;
		padding: 10px 0px 10px 20px;
		border-radius: 5px;
		border: none;

	}

		input
		{
			width: 148px;
		}


/*---------------------------------------------------------------------------*/

#objective
{
	background: #222;
	height: 17vh;
	text-align: center;

}

	#objective h4
	{
		font-size: 125%;
		letter-spacing: 4px;
		font-weight: 300;
		color: #ffd65e;
		font-variant: small-caps;
		line-height: 50px;
		padding-top: 25px;
	}

	#objective p
	{
		font-size:	125%;
		color: #bbb;
		font-weight: 300;
	}

#masterContainer
{
	display: grid;
	grid-template-columns: 75% 25%;
	width: 100vw;
	height: 83vh;

}



/*---------------------------------------------------------------------------*/
/* Svg map container */

#mapContainer
{
	background: #333;
	z-index: 0;
}

svg
{
	width: 100%;
	height: auto;
}

	svg path
	{
		cursor: pointer;
	}

/*---------------------------------------------------------------------------*/

#sidepanel
{
	background: #4a4a4a;
	text-align: center;
	
}

	#sidepanel .legend
	{
		border-left: 4px solid #222;
		text-align: center;
		height: 100%;
		padding-top: 25px;
		z-index: 1;
	}

		#sidepanel .legend h2
		{
			color: #ddd;
			letter-spacing: 10px;
			font-weight: 300;
		}

		#sidepanel .legend ul
		{
			margin-top: 50px;
		}

		#sidepanel .legend li
		{
			display: block;
			color: #ddd;
			padding-bottom: 40px;
		}

			#sidepanel .legend li .name
			{
				font-size: 125%;
				margin-right: 20px;
			}

			#sidepanel .legend li .color
			{
				width: 32px;
				height: 32px;
				margin-left: 20px;
			}

/*---------------------------------------------------------------------------*/

#space
{
	margin-top: 100px;
	text-align: center;
	color: #fff;
	font-family: arial;
}	

/*---------------------------------------------------------------------------*/	

	#results
	{
		display: none;
		margin-top: 50px;
	}

		#results h1
		{
			text-align: center;
			color: #fff;
			margin-bottom: 20px;
			margin-top: 340px;
			line-height: 150%;
			font-weight:300;
		}

		#points
		{
			font-size: 200%;
			color: yellow;
			font-weight: bold;
			text-align: center;
		}

		#points span
		{
			font-size: 75%;
			letter-spacing: 1px;
			font-variant: small-caps;
			color: #666;
		}

	table
	{
		display: none;
		text-align: left;
		background: #ddd;
		border-color:	#222;
		color: #333;
		padding: 20px;
		font-size: 50%;
	}

	table td, table tr, table th
	{
		padding: 20px 5px;
		border-color: #333;
	}

#basemap
{
	z-index: 0;
}
