/*
	AUTHOR: 	Henrik Oddløkken

							T A B L E   OF   C O N T E N T S 
			
			
		
*/

/*---------------------------------------------------------------------------*/	
*{									/* Default */
	padding:			0px;
	margin:				0px;
	list-style:			none;
	text-decoration:	none;
	font-family: 'Droid Sans', sans-serif;
}

/*---------------------------------------------------------------------------*/

body{
	background-color: #777;
}

.question
{
	text-align: left;
	margin-top: 50px;
	margin-bottom: 100px;
	margin-left: 250px;
	font-family: arial;
	font-size:	150%;
	color: #eee;
}

.colorPatches
{
	position: relative;
	display: block;
	margin: 0 25%;
	width: 288px;
}

	.colorPatches input[type="checkbox"]
	{
		position: absolute;
		width: 25px;
		height: 25px;
		outline: none;
	}

		.colorPatches input[type="checkbox"][data-slot="0"]
		{
			top: -20px;
			left: 20px;
		}

		.colorPatches input[type="checkbox"][data-slot="1"]
		{
			top: -20px;
			left: 245px;
		}

		.colorPatches input[type="checkbox"][data-slot="2"]
		{
			left: 20px;
		}

		.colorPatches input[type="checkbox"][data-slot="3"]
		{
			left: 245px;
		}

	.colorPatches #sample
	{
		width: inherit;
		margin: 20px 0;
		border: 2px solid #666;
	}

/*---------------------------------------------------------------------------*/


#legend
{
	color: #fff;
	position: absolute;
	top: 100px;
	right: 100px;
	padding: 10px;
	width: 250px;
	background: none;
	border: 1px dashed #333;
}

#legend .legendTitle
{
	text-align: center;
	margin-bottom: 20px;
	font-variant: small-caps;
	letter-spacing: 4px;
}

#legend ul
{
	padding: 10px;

}

#legend ul li
{
	padding: 0px 0 0 10px;
	text-align: left;
	font-family: arial;
	margin-bottom: 20px;
}
	
	#legend ul li .color
	{
		display: inline-block;
		width: 40px;
		height: 40px;
		vertical-align: middle;
		margin-right: 20px;
		border: 2px solid #777;
		border-bottom: 0px solid #777;
	}


	
/*---------------------------------------------------------------------------*/	

#space
{
	position: absolute;
	bottom: 10%;
	left: 30%;
	color: #fff;
	font-family: arial;
}	

#next
{
	position: absolute;
	bottom: 0px;
	right: 0px; 
	width: 100px;
	height: 100%;
	text-align: center;
	line-height: 797px;
	padding: 10px 20px;
	color: #ddd;
	font-size: 125%;
	letter-spacing: 3px;
	background: #555;
	border: 1px solid #444;
}	

	#next:hover
	{
		background: #083;
		border: 1px solid #555;
		color: #fff;
		cursor: pointer;
	}

/*---------------------------------------------------------------------------*/	

#overlay
{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: hsla(0,0%,0%,.9);
	
}

#startScreen
{
	display: block;
	position: absolute;
	top: 0%;
	left: 0%;
	background: #333;
	width: 30%;
	height: 100%;
	z-index: 1;
	padding: 0px 20px;
	color: #fff;
}

	#startScreen h2
	{
		padding: 20px;
	}

	#startScreen .options 	/* UL */
	{
		margin-left: 5%;
		text-align: left;
		margin-bottom: 50px;
	}
	
		#startScreen .options li
		{
			padding: 10px;
		}

	#start
	{
		background: #ffd63e;
		color: #111;
		border: none;
		border: 4px solid #333;
		padding: 10px 40px;
		font-size: 175%;
		font-weight: bold;
		letter-spacing: 2px;
		transition: all .4s;
	}
	
		#start:hover
		{
			cursor: pointer;
			background: #ffee1e;
		}
	
	#stop
	{
		display: none;
		position: absolute;
		right: 2%;
		bottom: 2%;
		background: #31bc41;
		border: none;
		color: #fff;
		font-size: 125%;
		padding: 5px 20px;
	}
	
	#results
	{
		display: none;
		margin-top: 50px;
	}

		#results h1
		{
			text-align: center;
			color: #fff;
			margin-bottom: 20px;
			line-height: 150%;
		}

		#points
		{
			font-size: 200%;
			color: yellow;
			font-weight: bold;
			text-align: center;
		}

		#points span
		{
			font-size: 75%;
			letter-spacing: 1px;
			font-variant: small-caps;
			color: #666;
		}

	table
	{
		text-align: left;
		background: #ddd;
		border-color:	#222;
		color: #333;
		padding: 20px;
	}

	table td, table tr, table th
	{
		padding: 20px;
		border-color: #333;
	}


